<%- include('../layouts/userHeader.ejs') %>



    <!-- Start Banner Area -->
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Area -->



    
    <section class="login_box_area section_gap">
		<div class="container">
				<div class="col-lg-12">
					<div class="login_form_inner">
						<h3>Register</h3>
						<form class="row login_form" action="/register" method="post" id="contactForm" novalidate="novalidate"   onsubmit="return validateForm()">
							<div class="col-md-12 form-group">
								<input type="text" class="form-control" id="first_name" name="fname" placeholder="First Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'First Name'">
							</div>
                            <div class="col-md-12 form-group">
								<input type="text" class="form-control" id="last_name" name="lname" placeholder="Last Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Last Name'">
							</div>
							<div class="col-md-12 form-group">
								<input type="text" class="form-control" id="email" name="email" placeholder="Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email'">
							</div>
                            <div class="col-md-12 form-group">
								<input type="number" class="form-control" id="phone" name="mno" placeholder="Mobile Number" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Mobile Number '">
							</div>
                            <div class="col-md-12 form-group">
								<input type="password" class="form-control" id="password" name="password" placeholder="Password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'">
							</div>
							<div class="col-md-12 form-group">
								<input type="password" class="form-control" id="confpassword" name="confpassword" placeholder="Confirm Password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Confirm Password'">
							</div>
						
							<div class="col-md-12 form-group">
								<button type="submit" value="submit" class="primary-btn">Sign-up</button>
								
							</div>
						</form>
           <p> <%=(typeof message!=='undefined')?message:""%></p>
					</div>
                     <div id="error-message" style="color: red;"></div>
				</div>
			</div>
		</div>
	</section>

   <script>
    function validateForm() {
        var firstName = document.getElementById("first_name").value;
        var lastName = document.getElementById("last_name").value;
        var email = document.getElementById("email").value;
        var phone = document.getElementById("phone").value;
        var password = document.getElementById("password").value;
        var confirmPassword = document.getElementById("confpassword").value;
        var errorMessage = document.getElementById("error-message");

        if (firstName === '' || lastName === '' || email === '' || phone === '') {
            errorMessage.textContent = 'Please fill in all fields.'; // Set the error message
            return false;
        }

        // Validate name should not contain numbers
        if (/[\d]/.test(firstName) || /[\d]/.test(lastName)) {
            errorMessage.textContent = 'Name should not contain numbers.'; // Set the error message
            return false;
        }

      
        // Validate email format
        if (!/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(email)) {
            errorMessage.textContent = 'Please enter a valid email address.'; // Set the error message
            return false;
        }
     
        if (!/^[0-9]{10}$/.test(phone)) {
            errorMessage.textContent = 'Please enter a valid 10-digit mobile number.'; // Set the error message
            return false;
        }

        return true; // Allow form submission
    }
</script>




    <!--================End Register Area =================-->

    <style>
        .form-group-spacing {
            margin-bottom: 29px;
        }
    </style>




    <%- include('../layouts/userFooter.ejs') %>